<%= form_for(@vertical) do |f| %>
  <% if @vertical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vertical.errors.count, "error") %> prohibited this vertical from being saved:</h2>

      <ul>
      <% @vertical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vertical_id %><br>
    <%= f.text_field :vertical_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
