<p id="notice"><%= notice %></p>

<h1>Listing Verticals</h1>

<table>
  <thead>
    <tr>
      <th>Vertical</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verticals.each do |vertical| %>
      <tr>
        <td><%= vertical.vertical_id %></td>
        <td><%= link_to 'Show', vertical %></td>
        <td><%= link_to 'Edit', edit_vertical_path(vertical) %></td>
        <td><%= link_to 'Destroy', vertical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vertical', new_vertical_path %>
