<p id="notice"><%= notice %></p>

<h1>Listing Video Players</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_players.each do |video_player| %>
      <tr>
        <td><%= video_player.title %></td>
        <td><%= video_player.published_at %></td>
        <td><%= link_to 'Show', video_player %></td>
        <td><%= link_to 'Edit', edit_video_player_path(video_player) %></td>
        <td><%= link_to 'Destroy', video_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video player', new_video_player_path %>
