<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video_player.title %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @video_player.published_at %>
</p>

<%= link_to 'Edit', edit_video_player_path(@video_player) %> |
<%= link_to 'Back', video_players_path %>
