<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-image: url('<%= banner.thumbnail %>'); height: 325px; background-position: center, center; z-index: 1; background-size: cover; background-repeat: none;">
  <div class="description-bar">
    <h5><%= banner.title %></h5>
    <h6><%= banner.vertical&.title %></h6>
    <% if user_signed_in? %>
      <% if Favorite.find_by(favorited: banner, user: current_user) %>
        <%= link_to destroy_favorite_path(media_item: :banner, id: banner.id),class: "pull-right heart", method: :delete do %>
          <%= fa_icon "heart" %>
        <% end %>
      <% else %>
        <%= link_to create_favorite_path(media_item: :banner, id: banner.id), class: "pull-right heart", method: :post do %>
          <%= fa_icon "heart-o" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= link_to image_tag("plus.png", :class => "center-block, play-button"), "#banner_#{banner.id}_modal",  :data => { :toggle =>"modal" } %>
</div>

<%= render partial: "shared/banner_modal", locals: { banner: banner } %>