<div class="modal fade" id="video_<%= video_player.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 id="video_title"><%= video_player.title %></h1>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row flex">
            
            <div class="col-md-9">
              <video poster="<%= video_player.thumbnail_url %>" id="video_player" playsinline controls>
                <source src="<%= video_player.video_url %>" type="video/mp4">
              </video>

            </div>
          
            <div class="col-md-3">
              <h3 id="video_title"><%= video_player.title %></h3>
              <div class="white-divider"></div>
              <h5 class="blue">Vertical</h5>
              <p><%= video_player.vertical&.title %></p>
              <h5 class="blue">Related Tags</h5>
              <p><%= video_player.tag_list %></p>
              <% if user_signed_in? %>
                <div class="white-divider"></div>
              <h5 class="blue">PNotes ID</h5>
              <p><%= video_player.pnotes_id %></p>
                <div class="white-divider"></div>
              <%= link_to "Presentation Zone", video_player.presentation_zone_url, :class => "btn btn-info", target: "_blank" %>
              <% end %>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>