<nav class="navbar navbar-default">
  <div id="blue-nav" class="tertiary-nav">
    <div class="container-fluid">
      <nav>
        <ul class="nav navbar-nav navbar-left">
           <li class="dropdown dropdown-large">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
    				<ul class="dropdown-menu dropdown-menu-large row">
    					<% VerticalCategory.all.order(title: 'ASC').in_groups(4) do |group| %>
    						<li class="col-sm-3">
    							<ul>
    								<% group.compact.each do |c| %>
    									<li>
    										<%= link_to c.title, params.merge(category: c.title) %>
    									</li>
    								<% end %>
    							</ul>
    						</li>
    					<% end %>
    				</ul>
    			</li>
    			
    			<li class="dropdown dropdown-large">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Verticals <b class="caret"></b></a>
    				<ul class="dropdown-menu dropdown-menu-large row">
    					<% Vertical.all.order(title: 'ASC').in_groups(4) do |group| %>
    						<li class="col-sm-3">
    							<ul>
    								<% group.compact.each do |v| %>
    									<li>
    										<%= link_to v.title, params.merge(vertical: v.title) %>
    									</li>
    								<% end %>
    							</ul>
    						</li>
    					<% end %>
    				</ul>
    			</li>

          
          <li><p>TAGS</p></li>
          <li><%= link_to "View All",   params.merge(tag: nil) %></li>
          <% ActsAsTaggableOn::Tag.most_used(6).each do |tag| %>
            <li><%= link_to tag.name,   params.merge(tag: tag.name) %></li>
          <% end %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
    			<li>
            <%= form_tag(search_path, :method => "get",   
                class: 'navbar-form navbar-left') do %>  
              <div class="input-group">  
                <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
                <div class="input-group-btn">  
                  <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
                </div>  
              </div>  
            <% end %>
          </li>
    		</ul>
      </nav>
    </div>
  </div>
</nav>