<div id="black-nav" class="secondary-nav">
    <div class="container-fluid">
      <nav class="navbar">
    <div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	
	
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
          <li><%= link_to 'View All'.html_safe, root_path %></li>
          <li><%= link_to 'Videos'.html_safe, video_players_path %></li>
          <li><%= link_to 'Websites'.html_safe, websites_path %></li> 
          <li><%= link_to 'Social Media'.html_safe, social_path %></li>
          <li><%= link_to 'Logos'.html_safe, logos_path %></li>
          <li><%= link_to 'Maps'.html_safe, maps_path %></li>
          <li><%= link_to "ReviewTube",   '#' %></li>
          <li><%= link_to 'Banners'.html_safe, banners_path %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
        <%= form_tag('', :method => "get",   
            class: 'navbar-form navbar-left') do %>  
          <div class="input-group">  
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
            <div class="input-group-btn">  
              <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
            </div>  
          </div>  
        <% end %>
      </li>
		</ul>
	  </div><!-- /.nav-collapse -->
  </nav>
  </div>
</div>
